h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat';
    letter-spacing: 2px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: calc(14px + 6vw);
    text-transform: uppercase;
    padding-bottom: 10px;
    color: #fff;
    letter-spacing: 1vw;
    text-shadow: 10px 5px 0 rgba(144, 144, 144, 0.6);
}

h2 {
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: 800;
    color: #fc4445;
    padding: 65px 0px 15px;
}

article h2 {
    color: white;
    padding: 0;
}

p, blockquote {
    font-family: 'Montserrat';
    max-width: 600px;
    font-size: 19px;
    line-height: 1.8;
    text-align: justify;
}

@media (max-width: 620px) {
    p {
        line-height: 1.5;
        text-align: justify;
    }
}

@media (max-width: 620px) {
    main div {
        padding: 20px;
    }
}

p:nth-last-child(1) {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25vw 1fr 200px;
    grid-template-areas: "header" "main" "footer";
}

header {
    grid-area: header;
    background: #3feee6;
}

main {
    grid-area: main;
    background: #cafafe;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 1000px) {
    main {
        grid-template-columns: 1fr;
    }
}


article {
    height: 500px;
    background: no-repeat center center;
    background-size: cover;
    position: relative;
}

footer {
    grid-area: footer;
    background: #fc4445;
    color: eee;
    letter-spacing: 2px;
}

blockquote {
    margin: 0 20vw;
    font-size: 14px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .3;
    flex-direction: column;
    transition: opacity .5s;
}

.overlay:hover {
    transition: opacity .5s;
    opacity: .8;
}

.overlay h3 {
    color: #fff;
}

.button {
    margin: 30px 20px 0 0;
    height: 60px;
    width: 280px;
    font-size: 220px;
    font-family: 'Montserrat';
    cursor: pointer;
    color: black;
    font-size: 20px;
    letter-spacing: 10px;
    text-transform: uppercase;
    background: rgba(255, 255, 255, .8);
    transition: .2s;
}

.button:hover {
    background: #fff;
}

img {
    max-width: 100%;
    height: auto;
    margin: 40px 0;
}

.small_img {
    max-width: 600px;
    margin: 40px 0;
}