h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica;
    letter-spacing: 2px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 4vw;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 6px solid #444;
    color: #333;
    font-weight: 500;
    text-shadow: 0px 5px 13px #ccc;
    letter-spacing: 1vw;
}

h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

p {
    font-family: Helvetica;
    max-width: 600px;
    font-size: 19px;
    line-height: 1.8;
    font-weight: 200;
    text-align: left;
}

a {
    color: white;
    text-decoration: none;
}

body {
    min-height: 100%;
    margin: 0;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 5vw 1fr 5vw;
    grid-template-rows: 35vh 1fr auto;
    grid-template-areas: ". header ." ". main ." "footer footer footer";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    margin-bottom: 100px;
}

.posts {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 1000px) {
    .posts {
        grid-template-columns: 1fr;
    }
  }

.post {
    height: 500px;
    background: no-repeat center center;
    background-size: cover;
    position: relative;
}

footer {
    height: 200px;
    grid-area: footer;
    background: #111;
    color: white;
    letter-spacing: 2px;
    line-height: 1.2;
}

.quote {
    margin: 20vw;
    font-size: 14px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .3;
    flex-direction: column;
    transition: opacity .5s;
}

.overlay:hover {
    transition: opacity .5s;
    opacity: .8;
}

.overlay h3 {
    color: #fff;
}

.button {
    margin: 30px 20px 0 0;
    height: 60px;
    width: 280px;
    font-size: 220px;
    font-family: helvetica;
    cursor: pointer;
    color: black;
    font-size: 20px;
    letter-spacing: 10px;
    text-transform: uppercase;
    background: rgba(255, 255, 255, .8);
    border: 2px solid #fff;
    transition: .2s;
}

.button:hover {
    background: #fff;

}

img {
    width: 1000px;
    margin: 40px 0;
}

.small_img {
    width: 600px;
    margin: 40px 0;
}